.body {
  padding: 0;
  margin: 0;
  background-color: none;
}

#wrapper {
  height: 300px;
}

/*style for each city html 'h1' */
h1{
  line-height: 100px;
  text-align: center;
  color:#5477BB;
  font-family: verdana;
  font-size: 300%;
}

/*style for each html 'p' */
p {
  font-family: verdana;
  font-size: 100%;
  border: none;
  padding: 10px;
}

/*Style for city 'ul'*/
.center {
  text-align: center;
  list-style-position: inside;
}