<!--format for every html started from here-->
<!doctype html>
<html lang="en-us">

<!--Link-->

<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--icon-->
  <link rel="icon"
  href="https://static.thenounproject.com/png/30626-200.png"
  type="image/x-icon">

  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

  <!--Leaflet CSS-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="" />

  <!--Marker Cluster CSS-->
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css"
    href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

  <!--Our CSS-->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
  <!--Navbar-->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!--Zillow Logo-->
    <img src="https://zillow.mediaroom.com/download/Zillow_Wordmark_Blue_RGB+lrg.png" height="100" width="100"
      class="navbar-brand">

    <!--Menu-->
    <ul class="navbar-nav">
      <!--Home-->
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <!--Dropdown-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Metro Areas
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/ny">New York</a>
          <a class="dropdown-item" href="/la">Los Angeles</a>
          <a class="dropdown-item" href="/chi">Chicago</a>
          <a class="dropdown-item" href="/dtx">Dallas</a>
          <a class="dropdown-item" href="/hou">Houston</a>
        </div>
      </li>

    </ul>
  </nav>
  <!--format for every html ended from here-->

  <div class="container">
    <h3><b>The project</b></h3>
    <p>The goal for this project is to train machine learning models to predict All Homes <b>For-Sale Inventory</b> and
      <b>Median
        Sale Price</b> in Top 5 Metro Areas in the United States for future buyers and real estate professionals
      evaluating
      the market.</p>
    <h3><b>Dataset</b></h3>
    <div class="row">
      <div class="col-md-6">
        <div id="wrapper">
          <canvas id="plot-metro"></canvas>
        </div>
      </div>
      <div class="col-md-6">
        <p>According to <a
            href="https://www.statista.com/statistics/183600/population-of-metropolitan-areas-in-the-us/">Statista</a>,
          The metropolitan area of New York-Newark-Jersey City had the biggest population in 2019. Based on annual
          estimates from the 2010 census, the metropolitan area had around 19.2 million inhabitants, which was a slight
          decrease on the previous year. The Los Angeles and Chicago metro areas rounded out the top three. </p>
        <p>The project used For-Sale Inventory and Median Sale Price data of
          "Top 5 Population of the largest metropolitan areas in the U.S. as of 2019"
          as the dataset to conclude the market trend for each metro areas in the United States. </p>
      </div>
    </div>
    <h3><b>Process</b></h3>
    <ul>
      <li>Pull data from <a href="https://www.zillow.com/research/data/"><b>Zillow Housing Data</b></a></li>
      <li>Process the data by using <b>Python Pandas</b></li>
      <li>Create a number of machine learning statsmodels including <ul>
          <li>ARIMA</li>
          <li>Moving Average</li>
          <li>Naïve</li>
          <li>Simple Exponential Smoothing</li>
          <li>Holt Winter (Additive)</li>
        </ul>to predict current For-Sale Inventory and Median Sale Price and
        to visualize the results by using <b>Python Matplotlib</b></li>
      <li>Define the model - <b>Simple Exponential Smoothing</b> for this project and forecast future trend</li>
      <li>Visualize the actual/forecast data by using <b>Plotly.js and Chart.js</b></li>
      <li>Present and Publish on the website by using <b>HTML/CSS, Flask and Heroku</b></li>
    </ul>

    <h3><b>Conclusion</b></h3>
    <p>The real estate market for these five metro areas is significantly affected by COVID-19 situation in 2020,
      that the For-Sale Inventory is much lower than historical data. Therefore, we used Simple Exponential Smoothing
      model (which also has lowest RMSE in average after testing) to predict future trend as the prediction is a
      weighted sum of past observations, but the model explicitly
      uses an exponentially decreasing weight for past observations without using its historical trend and seasonality.

    </p>

    <h3><b>Resources</b></h3>
    <ul>
      <li><a href="https://www.zillow.com/research/data/">Zillow</a></li>
      <li><a href="https://www.statista.com/statistics/183600/population-of-metropolitan-areas-in-the-us/">Statista</a>
      </li>
      <li><a href="https://zillow.mediaroom.com/download/Zillow_Wordmark_Blue_RGB+lrg.png">Zillow Logo</a></li>
      <li><a href="https://static.thenounproject.com/png/30626-200.png">Website Icon</a></li>
    </ul>

    <h3><b>GitHub Repo</b></h3>
    <ul>
      <li><a href="https://github.com/emmayianpan/Zillow_Analysis.git">Zillow_Analysis</a></li>
    </ul>

    <h3><b>Contact</b></h3>
    <ul>
      <li><a href="https://www.linkedin.com/in/emmayianpan/">Yi An Pan (Emma)</a></li>
    </ul>
    <br>
  </div>

  <!--format for every html started from here-->
  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>© Copyright Rutgers Data Science Bootcamp 2020</p>
    </div>
  </footer>

  <!--Script-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!--Bootstrap-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!--Ajax-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!--Leaflet JS-->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

  <!--d3 JS-->
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>

  <!--Chart JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

  <!--Marker Cluster JS-->
  <script type="text/javascript"
    src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>

  <!--Our JS-->
  <script type="text/javascript" src="../static/js/ny.js"></script>
  <script type="text/javascript" src="../static/js/la.js"></script>
  <script type="text/javascript" src="../static/js/hou.js"></script>
  <script type="text/javascript" src="../static/js/dtx.js"></script>
  <script type="text/javascript" src="../static/js/chi.js"></script>
  <script type="text/javascript" src="../static/js/metro.js"></script>
</body>

</html>
<!--format for every html started from here-->